
<!-- <h1>{{parentMsg}}</h1>
<h1>{{parentMsg1}}</h1> -->
<!-- <app-child (childEvent)="parentMsg1=$event" [childMsg]="parentMsg"></app-child> -->
<br>
 <!-- <app-pipe></app-pipe> -->
<br>
<!-- <app-emp-list></app-emp-list>
<app-emp-details>

</app-emp-details> -->
<nav>
  <a routerLink="/departmentlist" routerLinkActive="active">Department list</a>
  &nbsp;&nbsp;
  <a routerLink="/employeelist" routerLinkActive="active">Employee list</a>
  &nbsp;&nbsp;
  <a routerLink="/employeedetails" routerLinkActive="active">Employee details</a>
</nav>
<router-outlet></router-outlet>