
<!-- Data binding -->
<div *ngIf="false">
<div class="text-special" [class]="successClass">
  1 angualar demo
</div>
<div class="text-special" [class]="[successClass, textSpecial]">
 2 angualar demo
</div>

<div class="text-special text-success">
  3 angualar demo
</div>

<div [class.text-danger]="hasError">
  4 angualar demo
</div>

<div [ngClass]="message">
  5 angualar demo
</div>
<input [id]="myid" type="text" value="Yogesh" [disabled]="false">
<br/>
<br/>
<button on-click="ShowMsg($event)">Show Msg</button>
<br/>
<br>

<input type="text" #mytext [(ngModel)]="bindMsg">
<br>
<button on-click="logMessage(mytext)">Log message</button>

{{bindMsg}}

</div>

<!-- Data binding -->

<!-- Structural directive -->

<!-- ngIf -->
<div *ngIf="displayName; else elseBlock">
  Angular demo(if block code)
</div>
<br><br>
<div *ngIf="displayName; then thenBlock else elseBlock">

</div>

<ng-template #thenBlock>
  Angular demo(then block code)
</ng-template>

<ng-template #elseBlock>
  Angular demo(else block code)
</ng-template>

<!-- ngSwitch -->
<div [ngSwitch]="color">
  <h4 *ngSwitchCase="'red'">You have picked up red</h4>
  <h4 *ngSwitchCase="'green'">You have picked up green</h4>
  <h4 *ngSwitchCase="'blue'">You have picked up blue</h4>
</div>
<!-- End Structural directive -->